<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>God is good</h1>
    <p>This is the recent working directory</p>
    <p>This is a second paragraph in the master branch</p>
    <p>Have deleted something here in directory</p>

    <ul>
        <li>This is list one</li>
        <li>Two avaliable</li>
        <li>Am will do it latter</li>
        <li>holland is a very nice guy</li>
    </ul>

    <a>Testing links</a>
</body>
</html>